{% spaceless %}
<!DOCTYPE html>
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />
            <meta name="format-detection" content="telephone=no" />
            <title>PageEdit ({{ title }})</title>
            <base />

{# Css #}
            {% block css %}
{# Bootstrap - http://getbootstrap.com #}
                <link rel="stylesheet"
                    type="text/css"
                    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                    crossorigin="anonymous" />
            {% endblock %}

{# Javascript #}
            {% block javascript %}
{# jQuery - https://jquery.com #}
                <script type="text/javascript"
                    src="//code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                    crossorigin="anonymous">
                </script>

{# Bootstrap - http://getbootstrap.com #}
                <script type="text/javascript"
                    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous">
                </script>

{# TinyMce - https://www.tinymce.com #}
                <script type="text/javascript"
                    src="//cloud.tinymce.com/stable/tinymce.min.js{# ?apiKey=YOUR_API_KEY #}">
                </script>
{# TinyMce Initialization #}
                <script type="text/javascript">
                    tinymce.init({
                        selector: 'textarea.tinymce',
                        statusbar: true,
                        menubar: false,
                        browser_spellcheck: true,
                        contextmenu: false,
                        schema: 'html5 strict',
                        content_css : [
                            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
                        ],
                        images_upload_url: '{{ absolute_url(path('pageedit_upload')) }}',
                        //language_url : 'http://example.com/js/tinymce/fr_FR.js',
                        plugins: [
                            'advlist autolink lists link image imagetools charmap print preview hr anchor pagebreak',
                            'searchreplace wordcount visualblocks visualchars code fullscreen',
                            'insertdatetime media nonbreaking save table contextmenu directionality',
                            'emoticons template paste textcolor colorpicker textpattern  codesample toc help',
                        ],
                        toolbar: [
                            'styleselect | removeformat bold italic strikethrough forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
                            'undo redo | cut copy paste | insert link image emoticons table | print preview code | fullscreen help',
                        ],
                        image_advtab: true,
                        images_upload_url: '{{ absolute_url(path('pageedit_upload', {'page': page})) }}',
                        image_title: true,
                        automatic_uploads: true,
                        file_picker_types: 'image',
                        file_picker_callback: function(cb, value, meta) {
                            var input = document.createElement('input');
                            input.setAttribute('type', 'file');
                            input.setAttribute('accept', 'image/*');
                            input.onchange = function() {
                                var file = this.files[0];
                                var reader = new FileReader();
                                reader.readAsDataURL(file);
                                reader.onload = function () {
                                    var name = file.name.split('.')[0];
                                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                                    var blobInfo = blobCache.create(name, file, reader.result);
                                    blobCache.add(blobInfo);
                                    if (meta.filetype == 'image') {
                                        cb(blobInfo.blobUri(), {alt: file.name, title: name});
                                    }
                                };
                            };
                            input.click();
                        },
                    });
                </script>
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block pageedit_content %}
        {% endblock %}
    </body>
</html>
{% endspaceless %}