{% extends 'layout.html.twig' %}

{# Metadata (KEEP) #}
{% set pageedit_title="%title%" %}
{% set pageedit_slug="%slug%" %}

{# Your own data can go there #}

{% block content %}
    <div class="container">
        {% block pageEdit %}
{# Content will go there #}
        {% endblock %}
    </div>

{# Toolbar (KEEP) #}
    {% block toolbar %}
        {{ toolbar|raw }}
    {% endblock %}
{% endblock %}