{% extends 'layout.html.twig' %}

{# Metadata (KEEP) #}
{% set pageedit_title="%title%" %}
{% set pageedit_slug="%slug%" %}

{# Your own data can go there #}

{% block content %}
{# Toolbar (KEEP) #}
    {% block toolbar %}
        {{ toolbar|raw }}
    {% endblock %}

    <div class="container">
        <h1>
            {{ pageedit_title }}
        </h1>
        {% block pageEdit %}
{# Content will go there #}
        {% endblock %}
    </div>
{% endblock %}