<div class="text-center">
    <div class="btn-group btn-group-md" role="group">
{# Brand #}
        <span class="btn btn-default"><strong>PageEdit</strong></span>
{# Modify #}
        <a href="{{ path('975l_page_edit', {'page': page}) }}" class="btn btn-info" title="{{ 'label.modify'|trans }}" role="button">
            <span class="glyphicon glyphicon-edit"></span></a>
    </div>
</div>
