{% trans_default_domain 'pageedit' %}

<h2>Page Management</h2>
<p>
    The tools are accessible when the user is identified and has the necessary rights. A toolbar appears on each page. It is also possible to manage the pages from <a href="{{ path('pageedit_dashboard') }}">{{ 'label.dashboard'|trans }} (PageEdit)</a>.
</p>
<p>
    <strong>Create a page</strong>: use the button <span class="glyphicon glyphicon-plus class btn btn-default btn-xs"></span>
    <br />
    <strong>Modify a page</strong>: use the button <span class="glyphicon glyphicon-pencil class btn btn-default btn-xs"></span>
    <br />
    <strong>Delete a page</strong>: use the button <span class="glyphicon glyphicon-trash class btn btn-default btn-xs"></span>
    <br />
    <strong>View the current version of a page</strong>: use the button <span class="glyphicon glyphicon-eye-open class btn btn-default btn-xs"></span>
</p>

<h2>Data requirements</h2>
<p>
    For each page it is necessary to provide
</p>
<ul>
    <li>
        <strong>Title</strong>: Used to be displayed on the page and sent to the browser.
    </li>
    <li>
        <strong>Semantic url</strong>: link used to call the page, for example: http://example.com/pages/<strong>semantic-url</strong>, only unaccented lowercase letters and '-'. It is set automatically according to the title, it can be changed, but this is not recommended in order to have a better referencing. To create a tree with sub-pages, for example http://example.com/pages/<strong>level1/sub-page</strong>, just separate the levels with a "/" in the field Semantic url, in this example: "<strong>level1/sub-page</strong>".
    </li>
    <li>
        <strong>Change Frequency</strong>: how often the page changes (to be used in the sitemap file by web robots).
    </li>
    <li>
        <strong>Page significance</strong>: significance of the page (to be used in the sitemap file by web robots).
    </li>
    <li>
        <strong>Content</strong>: content of the page.
    </li>
    <li>
</ul>

<h2>Link pages</h2>
<p>
    To link to a <strong>page of the site managed via PageEdit</strong>, it is advisable to use the "Link list" drop-down list accessible in the edit mode via the "Insert link" button, it will set a value in the "Url" box which must be left as is. Otherwise you can copy the url of the page.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/en/pages/pageedit-bundle">>> PageEdit (Tutorials, screenshots, etc.) <<</a></strong>
</p>