{% trans_default_domain 'pageedit' %}

<p>
    Las herramientas están disponibles cuando se identifica al usuario y tiene los derechos necesarios. Una barra de herramientas aparece en cada página. También es posible gestionar las páginas en el <a href="{{ path('pageedit_dashboard') }}">{{ 'label.dashboard'|trans }} (PageEdit)</a>.
</p>

<p>
    <strong>Crear una página</strong> : utilizar el botón <span class="glyphicon glyphicon-plus class btn btn-default btn-xs"></span>
    <br />
    <strong>Modificar una página</strong> : utilizar el botón <span class="glyphicon glyphicon-pencil class btn btn-default btn-xs"></span>
    <br />
    <strong>Modificar una página</strong> : utilizar el botón <span class="glyphicon glyphicon-trash class btn btn-default btn-xs"></span>
    <br />
    <strong>Ver la versión actual de una página</strong> : utilizar el botón <span class="glyphicon glyphicon-eye-open class btn btn-default btn-xs"></span>
</p>

<p>
    Para cada página es necesario proporcionar
    <br />
    <strong>Título</strong> : Se utiliza para mostrar en la página y envía al navegador
    <br />
    <strong>Contenido</strong> : El contenido de la página
    <br />
    <strong>Url semántica</strong> : enlace utilizado para llamar a la página, por ejemplo: http://example.com/pages/<strong>url-semantica</strong>, solamente minúsculas sin acento y '-'. Se ajusta automáticamente con el título.
</p>